/**
HTML Overrides
**/
body{
    overflow: hidden;
}

div{
    margin: 0;
    padding: 0;
    display: block; 
    float: left;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

/**
Bootstrap overrides
**/

/**
Custom Classes
**/
.halfWidth{
    width: 50%;
}

.noWidth{
    width: 0%;
}

.wholeWidth{
    width: 100%;
}

/**
IDs
**/
#toolbar, #content, #music, #notes, #overview, #noteEditor, #notePreview{
    border: 1px solid black;
}

#toolbar, #content{
    width: 101vw;
}

#toolbar{
    height: 5vh;
}   

#content, #music, #notes, #overview{
    height: 95vh;
}

#music, #overview{
    width: 5vw;
}

#notes{
    width: 90vw;
}

#noteEditor, #notePreview{
    width: 50%;
    height: 95vh;
}