/**
HTML Overrides
**/
body{
    overflow: hidden;
}

div{
    margin: 0;
    padding: 0;
    display: block; 
    float: left;
}

/**
Bootstrap overrides
**/

/**
Custom
**/

/**
IDs
**/
#toolbar, #content, #music, #notes, #overview{
    border: 1px solid black;
}

#toolbar, #content{
    width: 101vw;
}

#toolbar{
    height: 5vh;
}   

#content, #music, #notes, #overview{
    height: 95vh;
}

#music, #overview{
    width: 5vw;
}

#notes{
    width: 90vw;
}